
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0,0,50,0.5), rgba(0,0,50,0.5)), url(Images/craig-whitehead-M9agIt85P1s-unsplash.jpg);
    background-size: 100%;
    background-position: center;
    font-family: 'Century Gothic', sans-serif;
    font-size: 17.5px;
}
.login-box{
    max-width: 700px;
    float: none;
    margin: 150px 0 auto;
}
.login-left{
    background: rgba(211,211,211,0.7);
    padding: 30px;
}
.login-right{
    background: #fff;
    padding: 30px;
}
.form-control{
    background-color: transparent !important;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}